<% @definition.each do |field| %>
  <div class="form-group <% if field[:type] == 'text' %> required<% end %>">
    <label class="control-label" for="onbase_document_keywords__<%= field[:code] %>_">
      <%= I18n.t("plugins.onbase_document_keyword.#{field[:code]}") %>
    </label>
    <% if field[:type] == 'text' %>
      <div>
        <input class="form-control" type="text" id="onbase_document_keywords__<%= field[:code] %>_" name="keywords[<%= field[:code] %>]" required />
      </div>
    <% elsif field[:type] == 'generated' %>
      <div class="label-only">
        <em class="text-muted"><%= I18n.t("plugins.onbase_document._frontend.messages.system_generated") %></em>
      </div>
    <% else %>
      <%= I18n.t("plugins.onbase_document._frontend.messages.type_not_supported", :type => field[:type]) %>
    <% end %>
  </div>
<% end %>
