<%= setup_context :object => @onbase_document, :title => @onbase_document.display_string %>

<div class="row">
   <div class="col-md-3">
      <%= render_aspace_partial :partial => "sidebar" %>
   </div>
   <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
     <%= readonly_context :onbase_document, @onbase_document do |readonly| %>
      <h2><%= @onbase_document.display_string %>  <span class="label label-info"><%= I18n.t("onbase_document._singular") %></span></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <% define_template "onbase_document", jsonmodel_definition(:onbase_document) do |form, onbase_document| %>
        <section id="basic_information">

          <%= form.label_and_textfield "onbase_id" %>
          <%= form.label_and_textfield "document_type" %>

          <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-9 label-only">
              <%= link_to "<span class='glyphicon glyphicon-download'></span> Download Document".html_safe, {:controller => :onbase_documents, :action => :download, :id => @onbase_document.id}, {:class => "btn btn-default col-sm-6"} %>
            </div>
          </div>

          <%= display_audit_info(@onbase_document) %>
        </section>
      <% end %>

      <%= readonly.emit_template "onbase_document" %>
    <% end %>
   </div>
  </div>
</div>
