<%= setup_context :object => @onbase_document, :title => @onbase_document.display_string %>

<div class="row">
   <div class="col-md-3">
      <%= render_aspace_partial :partial => "sidebar" %>
   </div>
   <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
     <%
      form_obj = {
        'ref' => @onbase_document.uri,
        '_resolved' => @onbase_document
      }
     %>

      <% if @onbase_document['deletion_pending'] %>
        <div class="alert alert-warning">
          <%= I18n.t("plugins.onbase_document._frontend.messages.deletion_pending") %>
        </div>
      <% elsif @onbase_document['new_and_unlinked'] %>
        <div class="alert alert-warning">
          <%= I18n.t("plugins.onbase_document._frontend.messages.new_and_unlinked") %>
        </div>
      <% end %>

     <%= readonly_context :onbase_document, form_obj do |readonly| %>
      <h2><%= @onbase_document.display_string %>  <span class="label label-info"><%= I18n.t("onbase_document._singular") %></span></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "onbase_documents/readonly" %>
      <% readonly.emit_template("onbase_document_readonly") %>

      <% if @onbase_document['linked_record'] && @onbase_document['linked_record']['_resolved'] %>
          <hr>
          <div class="form-group">
            <label class="col-sm-2 control-label"><%= I18n.t("plugins.onbase_document.linked_record") %></label>
            <div class="col-sm-9 token-list">
              <%= render_token :object => @onbase_document['linked_record']['_resolved'],
                               :label => @onbase_document['linked_record']['_resolved']['display_string'] || @onbase_document['linked_record']['_resolved']['title'] || @onbase_document['linked_record']['_resolved']['uri'],
                               :type => @onbase_document['linked_record']['_resolved']["jsonmodel_type"],
                               :uri =>  @onbase_document['linked_record']['ref'] %>
            </div>
          </div>
      <% end %>

      <hr>

      <%= display_audit_info(@onbase_document) %>

      <script>
        new OnBaseRecordReadOnlyView($(".record-pane"));
      </script>
    <% end %>
   </div>
  </div>
</div>
