<%= setup_context :object => @onbase_document, :title => @onbase_document.display_string %>

<div class="row">
   <div class="col-md-3">
      <%= render_aspace_partial :partial => "sidebar" %>
   </div>
   <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
     <%
      form_obj = {
        'ref' => @onbase_document.uri,
        '_resolved' => @onbase_document
      }
     %>
     <%= readonly_context :onbase_document, form_obj do |readonly| %>
      <h2><%= @onbase_document.display_string %>  <span class="label label-info"><%= I18n.t("onbase_document._singular") %></span></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "onbase_documents/readonly" %>
      <% readonly.emit_template("onbase_document_readonly") %>

      <hr>

      <%= display_audit_info(@onbase_document) %>

      <script>
        new OnBaseRecordReadOnlyView($(".record-pane"));
      </script>
    <% end %>
   </div>
  </div>
</div>
